{% extends "layout.html.twig" %}

{% block title %}{{ link.url }}{% endblock %}

{% block content %}
<p>
	<div class="row">
	<div class="container"><div class="panel panel-default">
	<div class="panel-heading"><h2>{{ link.title }}</h2> source : {{link.url}}</div>
	<div class="panel-body">{{ link.content | raw}}</div>
	<div class="panel-footer">IMAGES A METTRES</div>
	</div></div>
	</div>
			{#
    <h2>{{ link.title }}</h2> - {{link.url}}
    <br/>
    
    {{ link.content | raw}}
    #}
    
</p>
{% endblock %}
