<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/layout.css" rel="stylesheet">
    
    {% block header %}{% endblock %}
    <title>ReadItLater - {% block title %}{% endblock %}</title>
	
    <script src="{{app.request.basepath}}/lib/jquery/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    
</head>
<body>
	
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">ReadItLater&nbsp;&nbsp;</a>
                    <input id="txtUrl" type="text" class="navbar-brand" id="usr">
                    <a id="linkAddLink" class="navbar-brand">&nbsp;&nbsp;Add link</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                </div>
            </div><!-- /.container -->
        </nav>
        
        
		<div class="container-fluid corps">{% block content %}{% endblock %}</div>
        
        <footer class="footer">
			<div class="container" style="z-index:1">
			  
				<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="z-index:1">
					<div class="navbar-inner navbar-content-center" style="z-index:1">
						<div class="row" style="text-align:center" style="z-index:1"><b>ReadItLater</b> by Maxime Mikotajewski & Damien Morel</div>
					</div>
				</div>
            </div>
        </footer>
    </div>
    <script type="text/javascript">
		
		$( document ).ready(function() {
				
			$('#linkAddLink').click(function(){
				var urlLink = $('#txtUrl').val();
				
				if(!urlLink.trim()){
					alert('No url specified.');
				}
				else{
					//var urlTot = '/link/add/' + urlLink;
					var sUrl = urlLink;
					sUrl = sUrl.replace(/\//g,"+")
										.replace(/\./g,",");
					var urlAjax = '{{ path("addLink", {'url': 'url'}) }}'; 
					urlAjax = urlAjax	.replace("url", sUrl);
					$.ajax({
						type: "POST",
						url: urlAjax,
						success: function( msg,stat, settings ) {
							if(settings.responseText === "1"){
								alert("This link is already saved.");
							}
							else{
								alert("Link " + urlLink + " saved !");
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							console.log(xhr.status);
							console.log(thrownError);
							
						}
					});
				}
			});
			
			{% block scriptReady %}
			
			{% endblock %}
			
		});
		
		{% block scripts %}
		{% endblock %}
    </script>
    
</body>
</html>
